.Contact__Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  height: 80vh;
  background-image: url('');
  background-size: cover;
  background-repeat:no-repeat;
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  height: 80vh;
  background-size: cover;
  background-repeat:no-repeat;
}
.overlay{
  color: white;
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width:100vw;
  padding: 8rem 6rem;
}
.ContactForm{
  padding: 4rem 4rem;
}